body {
  font-family:'Roboto',sans-serif;
  
}

.ExperienceLayout,.aboutMe,.resume { display: flex; }
 
.Plaque {
  background-image: url("/public/images/plaque2.png");
  background-size: 195px 80px;
  background-repeat: no-repeat;
  height: 80px;
  padding-left: 39px;
  padding-top: 11px; }
 
.PlaqueContainer {
  margin-right: auto;
  margin-left: auto;
  width:80%; }

.aboutMe {
  padding-top: 3%;
  padding-bottom: 5%;
  flex-wrap: wrap;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7%; }
 
 
.buttonPadding { width:42%; }
 
.description {
  font-weight: bold;
}

.descriptionContainer{
  background-color: white;
  font-family: sans-serif;
  padding:2.5%;
  border-radius: 10%;
}

.duration { font-size: 0.8em; }
 
 
.experienceFrame {
  width:40%;
  margin-right: 5%; }
 
 
.flexContainer, .job { display: flex; }
 
.floor{
  max-width: 100%;
}
.headerAndButtonContainer {
  margin-left: auto;
  margin-right: auto;
  width:80%;
   padding-top: 10%;
  padding-bottom: 10%; }
 
 
.headerName {
  margin-left: auto;
  margin-right: auto;
  width:30%; }
 
 
.headerSection {
  overflow: hidden; /*border-bottom: 0.2em solid;*/
  border-color: white;
  /*height:4em;*/ }
 
 
.hide { display: none; }
 
 
.job { padding-bottom: 2%; }
 
 
.jobImageContainer { width: 200px; }
 
 
.jobInfo { }
 
 
.landingHeader {
  font-size:3em;
  text-align: center;
  flex-flow: row; }
 
.landingPageContent{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.landingPageWrapper{
  min-height: 40em;
}
.landingPageDescriptionContainer{
  margin-top:3%;
  font-size:1.15em;
  margin-left:5%;
  max-width: 600px;
} 
 
.leftPanel {
  width:30%;
  margin-top: 2%; }
 
 
.nameHeader {
  padding-bottom: 5%;
  border-bottom: 0.5em solid; }
 
 
.navigation {
  width: 50%;
  padding-top: 5%; }
 
  .navigation div {
    padding-top: 4%;
    padding-bottom: 1%; }
 
 
.pagePadding {
  padding-left: 5%;
  padding-right: 5%; }
 
.personalDescription {
  width:40%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
  
}
.pictureInsideProject{
  margin-bottom: -3%;
  cursor: pointer;
}
.pointer { cursor: pointer; }
 
 
.position {
  font-weight: bold;
  font-size: 1em; }
 
 
.profilePicContainer {
  width:280px;
  margin-left: auto;
  margin-right: auto;
 }
.projects,.resume {
  padding-top: 1%;
  display: flex; }
 
 .projects{
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 5%;
 }
 .projectsDescriptionContainer{
  width:20%;
  margin-top:3%;
 }

 .resume {
  flex-wrap: wrap;
  padding-bottom: 3%;
 }
.resumeButton {
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding-left: 0.6%;
  padding-right:0.6%;
  padding-bottom:0.5em;
  padding-top:0.5em;
  border: none;
  border-radius: 0.25em;
  margin-left:3%;
  cursor: pointer;
  }
 
 
.resumePDF { background-color: #E16F6F; }
 
 
.resumePageButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:2%;
 }
 
 
.resumeTitle {
  font-size:1.2em;
  padding-bottom: 3%; }
 
 
.resumeWord { background-color: #6ABBDD; }
 
 
.rightPanel { width:70%; }
 
 
.sectionTitle {
  font-size:1.5em;
  padding-bottom: 1%;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif; }
 
 .selectedTabStyle{
  color:#AF6622;
 }
.skillsFrame { }
 
 
.skillsLayout {
  display: flex;
  padding-bottom: 3%; }
 
 .subTitle{
  font-weight: bold;
  margin-bottom: 1%;
  margin-top: 1%;
 }
.tab {
  cursor: pointer;
  font-size: 1.7em;
  padding-right:0.5em;
  padding-left: 0.5em;
  }
 
  .tab:hover {
    color:#AF6622; /*color:#6ABBDD;*/
     }
 
 
.tabContainer { }
 
 
.tabSection {
  float:right;
  padding-right:5%; }
 
 .wall {
  background-image: url("/public/images/wall.jpg");
  background-size: cover;
  background-attachment: fixed; 
 }
.wordButtonContainer { padding-right: 2%; }